mandelbrot_vga/mandelbrot_vga.cache/
mandelbrot_vga/mandelbrot_vga.gen/
mandelbrot_vga/mandelbrot_vga.hw/
mandelbrot_vga/mandelbrot_vga.ip_user_files/
mandelbrot_vga/mandelbrot_vga.runs/
mandelbrot_vga/mandelbrot_vga.sim/
mandelbrot_vga/mandelbrot_vga.srcs/
mandelbrot_vga/*.xpr